.main {
  color: red;
  position: absolute;
  margin-left: 400px;
  margin-top: 400px;
}

.todo {
  position: absolute;
  width: 354px;
  height: 625px;
  background: #f5f5f5;
  border-radius: 16px 16px 0px 0px;
  margin-left: 299px;
  margin-top: 219px;
}
.todosvg {
  display: flex;
  align-items: center;
}
.todosvg img {
  position: absolute;
  margin-left: 310px;
  margin-top: 20px;
  width: 20px;
  height: 20px;
}
.todosvg small {
  margin-left: 310px;
  margin-top: -15px;
  font-size: 11px;
  position: absolute;
}

.todosvg section {
  font-family: "Inter";
  height: 19px;
  font-style: normal;
  font-weight: 500;
  line-height: 19px;
  font-size: 16px;
  color: #0d062d;
  margin-left: 8px;
  margin-top: 21px;
}
.todosvg svg {
  width: 8px;
  height: 8px;
  margin-left: 20px;
  margin-top: 26px;

  color: #5030e5;
}
.todosvg span {
  box-sizing: border-box;

  width: 20px;
  height: 20px;
  background: #e0e0e0;
  border-radius: 10px;
  margin-top: 20px;
  margin-left: 12px;
}
.todosvg p {
  font-family: "Inter";
  font-style: normal;
  line-height: 15px;
  font-weight: 500;
  font-size: 12px;
  color: #625f6d;

  margin-top: 3px;
  text-align: center;
}

.onProgress {
  position: absolute;
  width: 354px;
  height: 625px;
  background: #f5f5f5;
  border-radius: 16px 16px 0px 0px;
  margin-left: 668px;
  margin-top: 219px;
}
.onProgress svg {
  width: 8px;
  height: 8px;
  margin-left: 20px;

  margin-top: 26px;
  color: #ffa500;
}

.done {
  position: absolute;
  width: 354px;
  height: 625px;
  background: #f5f5f5;
  border-radius: 16px 16px 0px 0px;
  margin-left: 1038px;
  margin-top: 219px;
}
.done svg {
  width: 8px;
  height: 8px;
  margin-left: 20px;
  margin-top: 26px;

  color: #76a5ea;
}

.line1 {
  width: 314px;
  height: 0px;
  background: #800080;
  border: 3px solid #5030e5;
  margin-top: 23px;
  margin-left: 20px;
}

.line2 {
  width: 314px;
  height: 0px;

  border: 3px solid #ffa500;
  margin-top: 23px;
  margin-left: 20px;
}

.line3 {
  width: 314px;
  height: 0px;

  border: 3px solid #8bc48a;
  margin-top: 23px;
  margin-left: 20px;
}



.card{
position:absolute;
width:314px;
height: 177px;
background:#FFFFFF;
border-radius:16px;
margin-top:27px;
margin-left:20px;
}

.cardheader  {
    display: flex;
    align-items: center;
}
.cardheader section {
    width:36px;
    height:23px;
    background:rgba(223,168,116,0.2);
    border-radius:4px;
font-family:'Inter';
font-weight:500;
font-style:normal;
font-size:12px;
line-height:15px;
color:#D58D49;
margin-top: 20px;
margin-left:20px;
text-align: center;
padding-top:4px;
}

.cardheader span{
    font-family:'Inter';
font-weight:500;
font-style:normal;
font-size:16px;
line-height:19px;
letter-spacing:-0.07em;
color:#0D062D;
margin-top: 19px;
margin-left:222px;
}

.card h6{
    width:123px;
    height: 22px;
    font-family:'Inter';
    font-weight:600;
    font-style:normal;
    font-size:18px;
    line-height:22px;
    
    color:#0D062D;
    margin-top: 4px;
    margin-left:20px;
}

.card p {
    width:274px;
    height: 30px;
    font-family:'Inter';
    font-weight:400;
    font-style:normal;
    font-size:12px;
    line-height:15px;
    
    color:#787486;
    margin-top: 6px;
    margin-left:20px;
}


